* {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	margin:0px;
	overflow-x: hidden;
}
.navbar{
	position: fixed;
	background-color: transparent;
	top:0px;
	width: 100%;
	z-index: 1;
}
.navbarcontact{
	position: fixed;
	background-color: transparent;
	top:0px;
	width: 100%;
	z-index: 1;
}
.navbarcontact .navbar-list {
	list-style-type: none;
	margin: 0px; 
	float: right;
	font-size: 0;
}

.navbar .navbar-list {
	list-style-type: none;
	margin: 0px; 
	float: right;
	font-size: 0;
}

.navbarcontact .navbar-list .navbar-item a {
	text-decoration: none;
	display: inline-block;
	padding: 20px;
	transition: background-color 0.4s linear;
	color: black;
}
.navbarcontact .navbar-list .navbar-item.active a:hover {
	color: black;
	background-color: #A4A4A4;
}
.navbar-list .navbar-item{
	display: inline-block;
	font-size: 16px;

}
.navbar .navbar-list .navbar-item a {
	text-decoration: none;
	display: inline-block;
	padding: 20px;
	transition: background-color 0.4s linear;
	color: #58A1BF;
}
.navbar .navbar-list .navbar-item.active a:hover {
	color: #F7F7F7;
	background-color: #A4A4A4;
}
.title-img {
	width: 100%;
	height: 100vh;
	background-image: url(../images/bombillazo.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center center;
	transition: all 0.5s;
}
.title-img:hover{
	background-size: 115% 115%;
}
.title {
	position: absolute;
	left: 25%;
	top: 75%;
	color:white;
	width: 50%;
	text-align: center;
	font-size: 50px;
	border-bottom: 1px solid;

}
.title-cite{
	position: absolute;
	left: 0;
	top: 85%;
	color: white;
	width: 100%;
	text-align: center;
	font-size: 28px;
	opacity: 0;
	animation: subtitleAnimation 3s forwards;
}
.header{
	margin-top: calc(0% +53px);
	display: flex;
	display: -webkit-flex;
	flex-flow: row wrap;
	-webkit-flex-flow: row wrap;
}
h2 {
	text-align: center;
	color: #292f33;
	font-size: 50px;
}
.perfil-cite{
	color: #727878;
	text-align: center;
	font-size: 20px;
}
.quien-soy{
	height: 100vh;
	padding: 40px 180px;
}	
.texto-quiensoy{
	position: relative;
	top: 10%;
}
.imagen-perfil img{
	max-width: 100%;
	height: 250px;
	border-radius: 50%;
	margin-left: 20px;
	margin-right: auto;
	margin-left: auto;
	border: none;
	display: block;
}
.imagen-perfil {
	align-items: center;
}
.formacion{
	height: 100vh;
	padding: 40px 180px;
	background-color: #FBFFF0;
}
.footer{
	background-color: #7E7F78;
	color: white;
	height: 45px;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.footer p{
	padding-top: 15px;
	color: black;
}
.section-container{
	padding-top: 50px;
	padding-bottom: 50px;
}
.form{
	padding:0 20px;
	display: inline-block;
}
.form .form-row{
	padding: 10px;
}
input {
	padding: 4px;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin: 3px; 
}
input [type=button], input[type=submit], input[type=reset] {
	background-color: #5BA0FF;
	border: none;
	color: white;
	padding: 15px 40;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
	height: 30px;
	width: 90px;
}
.row-flex{
	display:flex;
	display: -webkit-flex;
	flex-flow: row wrap;
}
.h2contacto{
	text-align: left;
	font-size: 20px;
	margin-left: 50px;
}
.container {
	width: 100%;
	margin: 0 auto;
}
.textarea{
	width: 240px;
	height: 80px;
}
.clearfix:after{
	content: " ";/* Older browser do not support empty content*/
	visibility:hidden;
	display: block;
	height: 0;
	clear: both;
}
.viewheight{
height: 100vh;

}
.ancho{
	width: 100vh;
}
.marginleft{
	margin-left: 30px;
}
.letras{
	font-size: 25px;
}
.textarea {
	height: 160px;
}
@keyframes subtitleAnimation {
	0%{
		opacity: 0;
	}
	50%{
		opacity: 0.5;
	}
	100%{
		opacity: 1;
	}
}